{% extends 'base.html' %}

{% block content %}

    <main>

        <!-- Create Organizer's Profile Form (Only if no organizer's profile has been created) -->
        <section id="register">
            <div class="form">
                <h2>New Organizer's Profile</h2>
                <form method="post">
                    {{ form }}
                    {% csrf_token %}



                    <button type="submit">Create</button>

                </form>
            </div>
        </section>

    </main>
{% endblock %}